<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Dashboard</a>
    <a href="/">Retour au site</a>
    <a href="/logout">Déconnexion</a>
  </div>
</nav>