<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">MDS</a>
    {% if app.user %}
        <div>
            {% if app.user.isValidated %}
                <a href="/dashboard">Mon espace</a>
            {% endif %}
            <a href="/logout">Déconnexion</a>
        </div>
    {% else %}
        <a href="/login">Connexion</a>
    {% endif %}
  </div>
</nav>