{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
</style>
<div class="container mt-4">

    <h1>Page d'acceuil</h1>

    <div class="grid">
        {% for post in posts %}
            <div style="grid-column: {{ post.gridSize.gridColumn }}; grid-row: {{ post.gridSize.gridRow }};">
                <img src="{{ post.imageUrl }}" alt="">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
