{% extends 'admin_base.html.twig' %}

{% block title %}Admin - Users{% endblock %}

{% block body %}

<section>
TODO: Faire un tableau avec les utilisateurs
<hr>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Rôles</th>
      <th>Mot de passe</th>
      <th>Validé</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles|join(', ') }}</td>
        <td>{{ user.password }}</td>
        <td>{% if user.validated %}Oui{% else %}Non{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</section>

{% endblock %}
